node_modules
.env
.env.local
.env.devlocal
.env.cluster

#for demo to ignore keys and portable git files
# Ignore portable runtime
portable/
keys/
*.zip
*.7z
*.exe
*.bin
*.iso
*.img

# Ignore runtime copies
ClusterGit-Demo-Portable/
ClusterGit-Demo/portable/
ClusterGit-Demo/keys/
ClusterGit-Demo/assets/*.bin

#ignore local test repos
backend/clustergit-repos/

*.history
*.patch
*.localhistory
*.js.json

# VS Code Local History
.lh