# Ignore portable runtime
portable/
keys/
*.zip
*.7z
*.exe
*.bin
*.iso
*.img

# Ignore runtime copies
ClusterGit-Demo-Portable/
ClusterGit-Demo/
ClusterGit-Demo/portable/
ClusterGit-Demo/keys/
ClusterGit-Demo/assets/*.bin